*,
*:before,
*:after{
    margin: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
}

/* nav section */

.header{
    padding: 95px 65px;
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
  
.nav{
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

.nav li{
    margin-left: 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    font-weight: 600;
}

/* a:after{
    content: "";
    position: absolute;
    background-color: #ff3c78;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
} */
a:hover{
    color: #C8911B;
}
a:hover:after{
    width: 100%;
}


/* Hero img  => needs work */
.heroImg{
    display: flex;
    background-color: #E7E6EB;
}

.content{
    padding: 200px 44px;
}

h1{
    font-family: 'Playfair Display', serif;
    font-size: 64px;
    font-weight: 900;
    padding-bottom: 30px;
}

h2{
    font-family: 'Playfair Display', serif;
    font-size: 40px;
    font-weight: 700;
    padding: 0;
}

p{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 500;
    max-width: 604px;
    padding-top: 30px;

}

#headshot{
    border-radius: 50%;
    margin-right: auto;
    box-shadow: 10px 10px 10px grey;
    display: flex;
    margin: 44px 191px 44px 903px;
}

/* My Work */
.myWork{
    padding: 60px 30px;
    padding-top: 0;
    text-align: center;
}

.workGrid {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 350px 350px 350px;
    grid-template-areas:
    "img1 content1"
    "img2 content2"
    "img3 content3"
    ;
  }
/* .workGrid{
    display: grid;
    margin: 0 auto;
    grid-template-columns: 25% 500px;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 15px;
    max-width: 1200px;
    align-items: center;
    padding: 50px;
} */

.project-descript{
    text-align: left;
    padding-left: 60px;
}

.projectImg{
    background-color: aliceblue;
    box-shadow: 8px 8px 10px grey;
}

/* Skills - I've tried many times to make the cards align right next to each others, even this TA's help. But they won't work :( */
.mySkills{
    text-align: center;
    flex-direction: row;
}

.flexContainer{ 
    display: flex;
    padding: 60px 30px;
}

.card{
    border: 1px solid red;
    width: 400px;
}

#flex{
    flex-direction: row;
}


/* Footer */

footer{
    text-align: center;
}

hr.solid {
    border-top: 3px solid #bbb;
}

.fa-brands{
    color: #bbb;
}

.solid p{
    color: #bbb;
}